.DonateButtonOverride {
    background: rgb(226, 241, 255);
    color: rgba(223, 0, 18, 1);
    font-size: 22px;
    border-radius: 45px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
}


.DonateButtonOverride:hover {
    color: rgba(223, 0, 18, 1);
    background-color: rgb(226, 241, 255, .9);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}

