.Layout {
    background: linear-gradient(0deg, rgba(0, 20, 50, 0.5), rgba(0, 20, 50, 0.5)), url(/static/images/Cover.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
}